spring:
  datasource:
    username: fruits
    password: fruits
    url: jdbc:postgresql://localhost:5432/fruits
    defer-datasource-initialization: true
  jackson:
    default-property-inclusion: non_empty
  jpa:
    properties:
      hibernate:
        cache:
          # 1. Enable Hibernate's L2 Caching
          use_second_level_cache: true
          # 2. Configure the cache region factory (specifies the JCache/Caffeine provider)
          region:
            factory_class: jcache
