spring:
  datasource:
    username: fruits
    password: fruits
    url: jdbc:postgresql://localhost:5432/fruits
  jackson:
    default-property-inclusion: non_empty
  jpa:
    defer-datasource-initialization: true
